[Desktop Entry]
Version=1.0
Type=Application
Name=Sensor Kiosk
Comment=
Exec=/usr/local/bin/kiosk.sh
Icon=/usr/share/images/desktop-base/hedgehog-wallpaper.png
Path=
Terminal=false
StartupNotify=true
