[Desktop Entry]
Version=1.0
Name=Configure Capture and Forwarding
Exec=/usr/bin/tilix --maximize -t "Configure Capture and Forwarding" -e /usr/local/bin/configure-capture.py
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=network-receive
Categories=Network;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/configure-capture.desktop
