# build artifacts
*.iso
*-build.log
.vagrant
/config/packages.chroot/*.deb
/arkime/*.deb
/arkime/etc/*

# a temporary copy of ../shared
/shared

# we're storing PNGs, generating JPGs at build time but we don't need to keep them
/docs/images/*.jpg
/HedgehogLinux.html
/HedgehogLinux.jpg.md
