[Unit]
Description=Hedgehog Linux Kiosk

[Service]
WorkingDirectory=/home/sensor/sensor_interface/
ExecStart=/home/sensor/sensor_interface/init.sh
Restart=always

[Install]
WantedBy=multi-user.target
