**/*-build.log
**/*.crt
**/*.iso
**/*.key
**/*.env
**/*.pem
**/*.keystore
**/.git*
**/__pycache__
**/.ldap_config_defaults
**/htpasswd
**/malcolm_*images.tar.gz
**/malcolm_*images.tar.xz
**/malcolm_netbox_backup_*.psql.gz
**/.envrc
**/.direnv
**/.opensearch*.curlrc
.configured
.trigger_workflow_build
.tmp
config.*
docker-compose*yml
Dockerfiles
Gemfile.lock
opensearch
opensearch-backup
arkime-logs
arkime-raw
arkime/wiseini
kubernetes
malcolm-iso
hedgehog-iso
hedgehog-raspi
nginx/nginx_ldap*.conf
pcap
_site
scripts
!scripts/malcolm_common.py
!scripts/malcolm_kubernetes.py
!scripts/malcolm_utils.py
zeek-logs
suricata-logs
redis
postgres
netbox/media
netbox/custom-plugins
zeek/custom
