**/*-build.log
**/*.crt
**/*.iso
**/*.key
**/*.env
**/*.pem
**/*.keystore
**/.git*
**/__pycache__
**/.ldap_config_defaults
**/htpasswd
**/malcolm_*images.tar.gz
**/malcolm_netbox_backup_*.psql.gz
**/.envrc
**/.direnv
**/.opensearch*.curlrc
.configured
.trigger_workflow_build
.tmp
config.*
docker-compose*yml
Dockerfiles
Gemfile.lock
opensearch
opensearch-backup
arkime-logs
arkime-raw
kubernetes
malcolm-iso
sensor-iso
nginx/nginx_ldap*.conf
pcap
_site
scripts
!scripts/malcolm_common.py
!scripts/malcolm_kubernetes.py
!scripts/malcolm_utils.py
zeek-logs
suricata-logs
netbox/netbox/media
netbox/netbox/postgres
netbox/netbox/redis
