**/*-build.log
**/*.crt
**/*.iso
**/*.key
**/*.pem
**/*.keystore
**/.git*
**/__pycache__
**/auth.env
**/.ldap_config_defaults
**/htpasswd
**/malcolm_*images.tar.gz
.envrc
.direnv
.trigger_workflow_build
.tmp
docker-compose*yml
Dockerfiles
opensearch
opensearch-backup
arkime-logs
arkime-raw
nginx/nginx_ldap.conf
pcap
scripts
zeek-logs
suricata-logs
