# moloch
/moloch/etc/GeoLite2-*
/moloch/etc/oui.txt*
/moloch/etc/ipv4-address-space.csv*
/README.css

# auth-related
/.ldap_config_defaults
/auth.env
/logstash/certs
/filebeat/certs
/nginx/certs
/nginx/ca-trust
/nginx/htpasswd
/nginx/nginx_ldap.conf
/htadmin/config.ini
/htadmin/metadata

# development
.vagrant
malcolm_*images.tar.gz
*.iso
*-build.log

# Byte-compiled / optimized / DLL files
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
