git+https://github.com/netbox-community/netbox-healthcheck-plugin@v${NETBOX_HEALTHCHECK_VERSION}
git+https://github.com/netbox-community/netbox-topology-views@v${NETBOX_TOPOLOGY_VERSION}
git+https://github.com/tobiasge/netbox-initializers@${NETBOX_INITIALIZERS_VERSION}
cryptography==44.0.2
GitPython==3.1.44
Jinja2==3.1.6
paramiko==3.5.1
pillow==11.1.0
psycopg2==2.9.10
pynetbox==7.4.1
python-magic==0.4.27
python-slugify==8.0.4
randomcolor==0.4.4.6
setuptools==79.0.1
wheel==0.45.1