git+https://github.com/netbox-community/netbox-healthcheck-plugin@v${NETBOX_HEALTHCHECK_VERSION}
git+https://github.com/netbox-community/netbox-topology-views@v${NETBOX_TOPOLOGY_VERSION}
git+https://github.com/tobiasge/netbox-initializers@${NETBOX_INITIALIZERS_VERSION}
cryptography==46.0.3
GitPython==3.1.45
Jinja2==3.1.6
paramiko==4.0.0
pillow==12.0.0
psycopg2==2.9.11
pynetbox==7.5.0
python-magic==0.4.27
python-slugify==8.0.4
randomcolor==0.4.4.6
setuptools==80.9.0
supervisor==4.3.0
wheel==0.45.1
