[Desktop Entry]
Version=1.0
Name=Sensor Service Status
Exec=/usr/bin/tilix -t "Sensor Service Status" -e bash -c "/opt/sensor/sensor_ctl/status ; echo '' ; read -p 'Press Enter to Continue'"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=view-restore
Categories=Network;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/sensor-services-status.desktop
