redis:
  host: ${REDIS_CACHE_HOST}
  port: ${REDIS_CACHE_PORT}
  db: ${REDIS_FILESCAN_CACHE_DATABASE}
  password: ${REDIS_PASSWORD}
path_maps:
  /zeek/extracted-files: ${ZEEK_EXTRACTOR_PATH}
  /filescan/files: /filescan/data/files

watcher:
  watches:
    - type: redis
      source: zeek
      keys:
        - zeek_notify
      redis:
        host: ${REDIS_HOST}
        port: ${REDIS_PORT}
        db: ${REDIS_ZEEK_FILES_DATABASE}
        password: ${REDIS_PASSWORD}
    - type: directory
      path: /filescan/data/files
      recursive: true

strelka:
  host: ${STRELKA_HOST}
  port: ${STRELKA_PORT}
  secure: false
