clamd==1.0.2
dateparser==1.2.2
debinterface==3.5.0
dominate==2.9.1
git+https://github.com/mmguero-dev/mandiant-ti-client
git+https://github.com/mmguero-dev/python-humanfriendly.git
supervisor==4.3.0
pymisp==2.5.17.2
python-dotenv==1.2.1
ruamel.yaml==0.18.16
stix2==3.0.1
stream-zip==0.0.83
taxii2-client==2.3.0
vt-py==0.22.0
watchdog==6.0.0
