[Desktop Entry]
Version=1.0
Name=Sensor README
Exec=/usr/bin/firefox --setDefaultBrowser http://localhost:8420/docs/hedgehog.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=help-browser
Categories=Network;
StartupWMClass=Firefox
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/hedgehog-readme.desktop
