[Desktop Entry]
Version=1.0
Name=Malcolm - Kibana
Exec=/opt/firefox/firefox https://localhost/kibana/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/48x48/kibana.png
Categories=Network;
StartupWMClass=Firefox
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/malcolm-kibana.desktop
