[Unit]
Description=Hedgehog Linux Kiosk

[Service]
WorkingDirectory=/opt/kiosk
ExecStart=/opt/kiosk/init.sh
Restart=always

[Install]
WantedBy=multi-user.target
