[Unit]
Description=Malcolm/Hedgehog Linux Kiosk

[Service]
WorkingDirectory=/opt/kiosk
ExecStart=/opt/kiosk/init.sh
User=sensor
Group=sensor
Restart=always

[Install]
WantedBy=multi-user.target
