[Desktop Entry]
Name=Malcolm Debug Logs
Exec=tilix -e /bin/bash -l -c "cd ~/Malcolm && /usr/bin/python3 ~/Malcolm/scripts/control.py --logs"
Comment=Monitor the debug output of Malcolm containers
Terminal=false
Type=Application
Icon=terminal
Categories=Network;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/malcolm-logs.desktop