Version=1.0
Name=Malcolm - User Management
Exec=/opt/firefox/firefox https://localhost/auth/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=config-users.png
Categories=Network;
StartupWMClass=Firefox
StartupNotify=true
Categories=Network;