[Desktop Entry]
Version=1.0
Name=Malcolm - Host and Subnet Name Mapping
Exec=/opt/firefox/firefox https://localhost/name-map-ui/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=server.png
Categories=Network;
StartupWMClass=Firefox
StartupNotify=true
