[Desktop Entry]
Version=1.0
Name=Malcolm - CyberChef
Exec=/usr/bin/firefox https://localhost/cyberchef.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=applications-science
Categories=Network;
StartupWMClass=Firefox
StartupNotify=true
