[Desktop Entry]
Version=1.0
Name=Malcolm - Arkime
Exec=/usr/bin/chromium https://localhost/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/128x128/moloch.png
Categories=Network;
StartupWMClass=chromium
StartupNotify=true
