[Desktop Entry]
Name=Start Malcolm
Exec=tilix -e /bin/bash -l -c "cd ~/Malcolm && /usr/bin/python3 ~/Malcolm/scripts/control.py --start"
Comment=Start Malcolm
Terminal=false
Type=Application
Icon=media-playback-start
Categories=Network;
StartupNotify=true