[Desktop Entry]
Version=1.0
Name=Malcolm - Arkime
Exec=/usr/bin/firefox https://localhost/arkime/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/128x128/arkime.png
Categories=Network;
StartupWMClass=Firefox
StartupNotify=true
