#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Restart Malcolm
Exec=lxterminal --command=/bin/bash\ -l\ -c\ "/usr/bin/python3\ ~/Malcolm/scripts/control.py\ --restart"
Comment=Restart Malcolm
Terminal=false
Type=Application
Icon=redo.png
