[Desktop Entry]
Version=1.0
Name=Malcolm - User Management
Exec=/usr/bin/chromium https://localhost:488/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=config-users.png
Categories=Network;
StartupWMClass=chromium
StartupNotify=true
