[Unit]
Description=Shut down sensor services
Wants=shutdown.target reboot.target
Before=shutdown.target reboot.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sensor-shutdown

[Install]
WantedBy=reboot.target shutdown.target