[Desktop Entry]
Encoding=UTF-8
Name=capture-format-wait
Comment=Format Data Storage
Exec=/usr/local/bin/capture-format-wait.sh
Terminal=false
Type=Application
