# Whether or not Arkime is allowed to delete uploaded/captured PCAP (see
#   https://arkime.com/faq#pcap-deletion)
MANAGE_PCAP_FILES=false
# The number of Arkime capture processes allowed to run concurrently
ARKIME_ANALYZE_PCAP_THREADS=1

OPENSEARCH_MAX_SHARDS_PER_NODE=2500