# Whether or Arkime should monitor live traffic on a local
#   interface (PCAP_IFACE in pcap-capture.env specifies interface)
ARKIME_LIVE_CAPTURE=false
ARKIME_COMPRESSION_TYPE=none
ARKIME_COMPRESSION_LEVEL=0
ARKIME_PACKET_THREADS=1

ARKIME_PCAP_PROCESSOR=false