# Password hash secret for Arkime viewer cluster (see https://arkime.com/settings)
ARKIME_PASSWORD_SECRET=Malcolm

# MaxMind GeoIP database update API key (see
#   https://support.maxmind.com/hc/en-us/articles/4407116112539-Using-License-Keys)
MAXMIND_GEOIP_DB_LICENSE_KEY=0

K8S_SECRET=True

# If the Arkime WISE plugin is in use, this sets the configuration PIN for the WISE GUI
# Users should change this value if using the WISE plugin GUI 
ARKIME_WISE_CONFIG_PIN_CODE=WISE2019

# Used when for the Arkime WISE plugin if Arkime is performing live capture.
# WISE is *only* run in the `arkime` container on a Malcolm instance running the `malcolm` run profile.
#   Supply the appropriate WISE service URL (and credentials, if needed), e.g.:
#   * http://arkime:8081 - for a local cluster
#   * https://user:password@malcolm/wise - for a remote Malcolm instance (e.g., `hedgehog` run profile)
ARKIME_WISE_SERVICE_URL=http://arkime:8081