# Whether or not Arkime should analyze uploaded PCAP files
ARKIME_AUTO_ANALYZE_PCAP_FILES=true
# The number of Arkime processes for analyzing uploaded PCAP files allowed
#   to run concurrently
ARKIME_AUTO_ANALYZE_PCAP_THREADS=1
# Whether or not Arkime should analyze captured PCAP files captured
#   by netsniff-ng/tcpdump (see PCAP_ENABLE_NETSNIFF and PCAP_ENABLE_TCPDUMP
#   below). If ARKIME_LIVE_CAPTURE is true, this should be false: otherwise
#   Arkime will see duplicate traffic.
ARKIME_ROTATED_PCAP=true

ARKIME_PCAP_PROCESSOR=true