# Password hash secret for Arkime viewer cluster (see https://arkime.com/settings)
ARKIME_PASSWORD_SECRET=Malcolm

# MaxMind GeoIP database update API key (see
#   https://support.maxmind.com/hc/en-us/articles/4407116112539-Using-License-Keys)
MAXMIND_GEOIP_DB_LICENSE_KEY=0

K8S_SECRET=True

# If the Arkime WISE plugin is in use, this sets the configuration PIN for the WISE GUI
# Users should change this value if using the WISE plugin GUI 
ARKIME_WISE_CONFIG_PIN_CODE=WISE2019