# Whether or not Arkime should analyze uploaded PCAP files
ARKIME_AUTO_ANALYZE_PCAP_FILES=true
# The number of Arkime processes for analyzing uploaded PCAP files allowed
#   to run concurrently
ARKIME_AUTO_ANALYZE_PCAP_THREADS=1
# Whether or not Arkime should analyze captured PCAP files captured
#   by netsniff-ng/tcpdump (see PCAP_ENABLE_NETSNIFF and PCAP_ENABLE_TCPDUMP
#   below). If ARKIME_LIVE_CAPTURE is true, this should be false: otherwise
#   Arkime will see duplicate traffic.
ARKIME_ROTATED_PCAP=true
# Controls whether the WISE configuration GUI is exposed (both internally and as an endpoint via the nginx proxy)
# WISE is *only* run in the `arkime` container on a Malcolm instance running the `malcolm` run profile
ARKIME_EXPOSE_WISE_GUI=true
# Controls whether the WISE configuration GUI is read-only (false) or editable (true)
ARKIME_ALLOW_WISE_GUI_CONFIG=false