# authentication method: encrypted HTTP basic authentication ('true') vs LDAP ('false')
NGINX_BASIC_AUTH=true
# NGINX LDAP (NGINX_BASIC_AUTH=false) can support LDAP, LDAPS, or LDAP+StartTLS.
#   For StartTLS, set NGINX_LDAP_TLS_STUNNEL=true to issue the StartTLS command
#   and use stunnel to tunnel the connection.
NGINX_LDAP_TLS_STUNNEL=false
# stunnel will require and verify certificates for StartTLS when one or more
#   trusted CA certificate files are placed in the ./nginx/ca-trust directory.
#   For additional security, hostname or IP address checking of the associated
#   CA certificate(s) can be enabled by providing these values.
NGINX_LDAP_TLS_STUNNEL_CHECK_HOST=
NGINX_LDAP_TLS_STUNNEL_CHECK_IP=
NGINX_LDAP_TLS_STUNNEL_VERIFY_LEVEL=2