# authentication method: basic|ldap|keycloak|keycloak_remote|no_authentication
NGINX_AUTH_MODE=basic
# When using Keycloak authentication (NGINX_AUTH_MODE=keycloak or keycloak_remote),
#   require authenticated users to belong to zero or more groups and/or to be
#   assigned zero or more roles, respectively. Multiple values may be specified
#   with a comma-separated list. Note that these requirements are cumulative:
#   users must match all of the items specified. An empty value means no
#   group/role restriction is applied. Note that NGINX LDAP (NGINX_AUTH_MODE=ldap)
#   can also require group membership, but this is specified in nginx_ldap.conf
#   with "require group" rather than here.
NGINX_REQUIRE_GROUP=
NGINX_REQUIRE_ROLE=
# NGINX LDAP (NGINX_AUTH_MODE=ldap) can support LDAP, LDAPS, or LDAP+StartTLS.
#   For StartTLS, set NGINX_LDAP_TLS_STUNNEL=true to issue the StartTLS command
#   and use stunnel to tunnel the connection.
NGINX_LDAP_TLS_STUNNEL=false
# stunnel will require and verify certificates for StartTLS when one or more
#   trusted CA certificate files are placed in the ./nginx/ca-trust directory.
#   For additional security, hostname or IP address checking of the associated
#   CA certificate(s) can be enabled by providing these values.
NGINX_LDAP_TLS_STUNNEL_CHECK_HOST=
NGINX_LDAP_TLS_STUNNEL_CHECK_IP=
NGINX_LDAP_TLS_STUNNEL_VERIFY_LEVEL=2