# URL for connecting to OpenSearch Dashboards instance. When using Malcolm's internal
#   instance of OpenSearch Dashboards (i.e., OPENSEARCH_PRIMARY from opensearch.env
#   is 'opensearch-local' or 'opensearch-remote') this should be
#   'http://dashboards:5601/dashboards', otherwise specify the Dashboards URL
#   in the format 'protocol://host:port/uri'.
DASHBOARDS_URL=http://dashboards:5601/dashboards
