# URL for connecting to OpenSearch Dashboards instance. When using Malcolm's internal
#   instance of OpenSearch Dashboards (i.e., OPENSEARCH_PRIMARY from opensearch.env
#   is 'opensearch-local' or 'opensearch-remote') this should be
#   'http://dashboards:5601/dashboards', otherwise specify the Dashboards URL
#   in the format 'protocol://host:port/uri'.
DASHBOARDS_URL=http://dashboards:5601/dashboards
# These values are used to handle the Arkime value actions to pivot from Arkime
#   to Dashboards. The nginx-proxy container's entrypoint will try to formulate
#   them automatically, but they may be specified explicitly here.
NGINX_DASHBOARDS_PREFIX=
NGINX_DASHBOARDS_PROXY_PASS=