# Whether or not to set OpenSearch Dashboards to dark mode
DASHBOARDS_DARKMODE=true
# default "from" and "to" values for the OpenSearch Dashboards query time frame picker
DASHBOARDS_TIMEPICKER_FROM=now-24h
DASHBOARDS_TIMEPICKER_TO=now
# A prefix to prepend to the titles of imported Malcolm dashbaords
DASHBOARDS_PREFIX=
# The base URL of the Malcolm instance (e.g., https://malcolm.home.arpa), only used
#   where a remote Kibana instance needs absolute paths to request, for example, an extracted
#   file download or some other Malcolm-hosted asset.
MALCOLM_URL=
# The maximum cumulative size of OpenSearch indices containing network traffic metadata
#   before which the oldest indices will be deleted ('' to disable storage-based index pruning).
OPENSEARCH_INDEX_SIZE_PRUNE_LIMIT=0
# Whether to determine the "oldest" indices for storage-based index pruning by creation
#   date/time ('true') or index name ('false')
OPENSEARCH_INDEX_SIZE_PRUNE_NAME_SORT=false
# Parameters for the OpenSearch repository used for index snapshots
ISM_SNAPSHOT_COMPRESSED=false
ISM_SNAPSHOT_REPO=logs
