# Whether or not to set OpenSearch Dashboards to dark mode
DASHBOARDS_DARKMODE=true
# The maximum cumulative size of OpenSearch indices containing network traffic metadata
#   (arkime_sessions3-*) before which the oldest indices will be deleted ('' to disable
#   storage-based index pruning).
OPENSEARCH_INDEX_SIZE_PRUNE_LIMIT=0
# Whether to determine the "oldest" indices for storage-based index pruning by creation
#   date/time ('true') or index name ('false')
OPENSEARCH_INDEX_SIZE_PRUNE_NAME_SORT=false
# Parameters for the OpenSearch repository used for index snapshots
ISM_SNAPSHOT_COMPRESSED=false
ISM_SNAPSHOT_REPO=logs
