PUSER_MKDIR=/data/config:auth,htadmin,logstash,netbox/media,netbox/postgres,netbox/redis,opensearch,zeek/intel/MISP,zeek/intel/STIX;/data/opensearch:nodes;/data/pcap:processed,upload;/data/runtime-logs:arkime,nginx;/data/zeek-logs:current,extract_files/preserved,extract_files/quarantine,live,processed,upload;/data/suricata-logs:live