
FILESCAN_OUTPUT_PATH='/filescan/data/logs/filescan-%(ts)s.txt'
FILESCAN_REDIS_DB=0
FILESCAN_HEALTH_PORT=8000

# from logstash.env:
# - LOGSTASH_ZEEK_REDIS_DB
# from redis.env:
# - REDIS_PASSWORD
# - REDIS_HOST
# - REDIS_PORT
# - REDIS_CACHE_HOST
# - REDIS_CACHE_PORT
# from strelka.env:
# - STRELKA_HOST
# - STRELKA_PORT
