FILESCAN_OUTPUT_PATH='/filescan/data/logs/filescan-%(ts)s.txt'
FILESCAN_HEALTH_PORT=8001
FILESCAN_VERBOSITY=

# Whether or not to serve the directory containing Zeek-extracted over HTTP at ./extracted-files/
FILESCAN_HTTP_SERVER_ENABLE=true
# Whether or not Zeek-extracted files served over HTTP will be archived in a Zip file
FILESCAN_HTTP_SERVER_ZIP=true
# Whether or not to use libmagic to show MIME types for Zeek-extracted files served
FILESCAN_HTTP_SERVER_MAGIC=true

# Determines the behavior for preservation of Zeek-extracted files
# TODO: handle this
FILESCAN_PRESERVATION=quarantined
# Prune ./zeek-logs/extract_files/ when it exceeds this size...
FILESCAN_PRUNE_THRESHOLD_MAX_SIZE=1TB
# ... or when the *total* disk usage exceeds this percentage
FILESCAN_PRUNE_THRESHOLD_TOTAL_DISK_USAGE_PERCENT=0
# Interval in seconds for checking whether to prune ./zeek-logs/extract_files/
FILESCAN_PRUNE_INTERVAL_SECONDS=300

# Whether or not hashes of Zeek-extracted files will be submitted to VirusTotal
FILESCAN_VTOT_ENABLED=false
# Rate limiting for VirusTotal with Zeek-extracted files
FILESCAN_VTOT_REQUESTS_PER_MINUTE=4

STRELKA_HOST=strelka-frontend
STRELKA_PORT=57314
