# variables prefixed by KEYCLOAK_ are used by both external and embedded Keycloak instances
KEYCLOAK_AUTH_REALM=master
KEYCLOAK_AUTH_REDIRECT_URI=/index.html
KEYCLOAK_AUTH_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

# variables prefixed by KC_ are only used by Malcolm's embedded Keycloak instance
KC_CACHE=local
KC_HEALTH_ENABLED=true
KC_HOSTNAME=
KC_HOSTNAME_STRICT=false
KC_HTTP_ENABLED=true
KC_HTTP_RELATIVE_PATH=/keycloak
KC_METRICS_ENABLED=false
KC_PROXY_HEADERS=xforwarded

KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

K8S_SECRET=True
