# Parameters for tuning Logstash pipelines (see
#   https://www.elastic.co/guide/en/logstash/current/logstash-settings-file.html)
pipeline.workers=2
pipeline.batch.size=125
pipeline.batch.delay=25
pipeline.ordered=false
# Whether or not Logstash will map MAC addresses to vendors for MAC addresses
LOGSTASH_OUI_LOOKUP=true
# Whether or not Logstash will perform severity scoring on network traffic metadata
LOGSTASH_SEVERITY_SCORING=true
# Whether or not Logstash will perform a reverse DNS lookup for external IP addresses
LOGSTASH_REVERSE_DNS=false
# Which types of logs will be enriched via NetBox: a comma-separated list which may contain
#   provider.dataset pairs (e.g., zeek.dns), the string "default" for the built-in list of log types,
#   "ics" (or "ot") to enrich logs with "ics" in their tags, or "all" to enrich all logs.
#   Values may be combined (e.g., "default,ics"). Leave empty to disable NetBox enrichment.
LOGSTASH_NETBOX_ENRICHMENT_DATASETS=default
# Zeek log types that will be ignored (dropped) by LogStash
LOGSTASH_ZEEK_IGNORED_LOGS=analyzer,broker,cluster,config,loaded_scripts,packet_filter,png,print,prof,reporter,roc_plus_unknown_data,stderr,stdout
# Logstash memory allowance and other Java options
LS_JAVA_OPTS=-server -Xmx3g -Xms3g -Xss2048k -XX:-HeapDumpOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -Dlog4j.formatMsgNoLookups=true
