# Parameters related to NetBox (and supporting tools). Note that other more specific parameters
#   can also be configured in the env_file files for netbox* services
# Whether or not Logstash will enrich network traffic metadata via NetBox API calls
NETBOX_ENRICHMENT=false
# The name of the default "site" to be created upon NetBox initialization, and to be used for enrichment
#   if not otherwise specified for the source of the network traffic data
NETBOX_DEFAULT_SITE=Malcolm
# Whether or not unobserved network entities in Logstash data will be used to populate NetBox
NETBOX_AUTO_POPULATE=false
# Comma-separated list of private CIDR subnets to control NetBox IP autopopulation.
#
# Behavior:
# - If unset or left blank, *all private* IPv4 and IPv6 ranges are allowed by default.
# - Use an exclamation mark (!) before a CIDR to explicitly *exclude* that subnet.
# - If only exclusions are listed, all private IPs are allowed *except* those excluded.
# - If both inclusions and exclusions are listed:
#     - Only IPs matching allowed subnets will be considered.
#     - Among those, any matching excluded subnets are denied.
#
# Notes:
# - Only private address ranges are considered (10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, fc00::/7).
# - Broadcast and network base addresses within those ranges are ignored.
#
# Examples:
#   192.168.100.0/24
#     → Only allow addresses in 192.168.100.0/24
#
#   !172.16.0.0/12
#     → Allow all private IPs *except* 172.16.0.0/12
#
#   !10.0.0.0/8,10.0.10.0/24
#     → Exclude 10.0.0.0/8 generally, but *allow* 10.0.10.0/24 as an override
#
#   10.0.0.0/8,!10.0.10.0/16,10.0.10.5/32
#     → Allow all of 10.0.0.0/8 *except* 10.0.10.0/16, *but still allow* 10.0.10.5
#
#   !fc00::/7,fd12:3456:789a:1::/64
#     → Exclude all ULA IPv6 ranges, *except* a specific subnet
NETBOX_AUTO_POPULATE_SUBNETS=
# Whether or not unobserved network subnets in Logstash data will be created automatically in NetBox
NETBOX_AUTO_CREATE_PREFIX=false
# Whether or not services (i.e., destination IP/port) will be looked up during NetBox enrichment
NETBOX_ENRICHMENT_LOOKUP_SERVICE=true
# Customize manufacturer matching/creation with NETBOX_AUTO_POPULATE
NETBOX_DEFAULT_AUTOCREATE_MANUFACTURER=true
NETBOX_DEFAULT_FUZZY_THRESHOLD=0.95
# Caching parameters for NetBox's LogStash lookups
NETBOX_CACHE_SIZE=10000
NETBOX_CACHE_TTL=300
# NetBox mode: `local` (embedded NetBox), `remote` (remote NetBox), or `disabled`
NETBOX_MODE=disabled
# NetBox URL (should only be set if NETBOX_MODE=remote, otherwise leave blank for default http://netbox:8080/netbox)
NETBOX_URL=