ENFORCE_GLOBAL_UNIQUE=False
EXEMPT_VIEW_PERMISSIONS=*
LOGIN_REQUIRED=True
LOGIN_PERSISTENCE=True
ISOLATED_DEPLOYMENT=True

CORS_ORIGIN_ALLOW_ALL=True
# If using the NetBox interface to create API tokens, set this
#   (see https://docs.djangoproject.com/en/4.1/ref/settings/#csrf-trusted-origins)
# CSRF_TRUSTED_ORIGINS=https://malcolm.example.org
CSRF_TRUSTED_ORIGINS=http://* https://*

# Remote authentication allows NetBox to automatically create user accounts from NGINX
#   https://netboxlabs.com/docs/netbox/en/stable/configuration/remote-authentication
#   https://netboxlabs.com/docs/netbox/en/stable/administration/permissions/
REMOTE_AUTH_ENABLED=True
REMOTE_AUTH_BACKEND=netbox.authentication.RemoteUserBackend
REMOTE_AUTH_HEADER=HTTP_X_FORWARDED_USER
REMOTE_AUTH_AUTO_CREATE_USER=True
REMOTE_AUTH_USER_EMAIL=HTTP_X_FORWARDED_EMAIL
REMOTE_AUTH_USER_FIRST_NAME=HTTP_X_FORWARDED_GIVEN_NAME
REMOTE_AUTH_USER_LAST_NAME=HTTP_X_FORWARDED_FAMILY_NAME
REMOTE_AUTH_GROUP_HEADER=HTTP_X_FORWARDED_ROLES
REMOTE_AUTH_AUTO_CREATE_GROUPS=False
REMOTE_AUTH_GROUP_SYNC_ENABLED=True
REMOTE_AUTH_GROUP_SEPARATOR=,
# these group names should match role names from auth-common.env
REMOTE_AUTH_DEFAULT_GROUPS=netbox_read_access
REMOTE_AUTH_SUPERUSER_GROUPS=admin
REMOTE_AUTH_STAFF_GROUPS=admin

EMAIL_FROM=netbox@bar.com
EMAIL_PORT=25
EMAIL_SERVER=localhost
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=5
# EMAIL_USE_SSL and EMAIL_USE_TLS are mutually exclusive, i.e. they can't both be `true`!
EMAIL_USE_SSL=false
EMAIL_USE_TLS=false
GRAPHQL_ENABLED=true
HOUSEKEEPING_INTERVAL=86400
MAX_PAGE_SIZE=1000
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED=false
NAPALM_TIMEOUT=10
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_SSL=false
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_SSL=false
RELEASE_CHECK_URL=
CENSUS_REPORTING_ENABLED=false
SKIP_STARTUP_SCRIPTS=true
SKIP_SUPERUSER=false
SUPERUSER_EMAIL=admin@example.com
WEBHOOKS_ENABLED=true