EMAIL_PASSWORD=
EMAIL_USERNAME=netbox
NAPALM_PASSWORD=
NAPALM_USERNAME=
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPERUSER_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPERUSER_NAME=admin
SUPERUSER_PASSWORD=admin
# when NETBOX_MODE=remote, NETBOX_TOKEN is used to connect to the remote instance
NETBOX_TOKEN=

K8S_SECRET=True