# Parameters related to NetBox (and supporting tools). Note that other more specific parameters
#   can also be configured in the env_file files for netbox* services
# Whether or not Logstash will enrich network traffic metadata via NetBox API calls
NETBOX_ENRICHMENT=false
# The name of the default "site" to be created upon NetBox initialization, and to be used for enrichment
#   if not otherwise specified for the source of the network traffic data
NETBOX_DEFAULT_SITE=Malcolm
# Whether or not unobserved network entities in Logstash data will be used to populate NetBox
NETBOX_AUTO_POPULATE=false
# Whether or not unobserved network subnets in Logstash data will be created automatically in NetBox
NETBOX_AUTO_CREATE_PREFIX=false
# Whether or not services (i.e., destination IP/port) will be looked up during NetBox enrichment
NETBOX_ENRICHMENT_LOOKUP_SERVICE=true
# Customize manufacturer matching/creation with NETBOX_AUTO_POPULATE
NETBOX_DEFAULT_AUTOCREATE_MANUFACTURER=true
NETBOX_DEFAULT_FUZZY_THRESHOLD=0.95
# Caching parameters for NetBox's LogStash lookups
NETBOX_CACHE_SIZE=10000
NETBOX_CACHE_TTL=300
# NetBox mode: `local` (embedded NetBox), `remote` (remote NetBox), or `disabled`
NETBOX_MODE=disabled
# NetBox URL (should only be set if NETBOX_MODE=remote, otherwise leave blank for default http://netbox:8080/netbox)
NETBOX_URL=