CORS_ORIGIN_ALLOW_ALL=True
# If using the NetBox interface to create API tokens, set this
#   (see https://docs.djangoproject.com/en/4.1/ref/settings/#csrf-trusted-origins)
# CSRF_TRUSTED_ORIGINS=https://malcolm.example.org
CSRF_TRUSTED_ORIGINS=http://* https://*
BASE_PATH=netbox
REMOTE_AUTH_ENABLED=True
REMOTE_AUTH_BACKEND=netbox.authentication.RemoteUserBackend
REMOTE_AUTH_HEADER=HTTP_X_REMOTE_AUTH
REMOTE_AUTH_AUTO_CREATE_USER=True
REMOTE_AUTH_DEFAULT_GROUPS=standard
REMOTE_AUTH_DEFAULT_PERMISSIONS=standard_permission
REMOTE_AUTH_STAFF_GROUPS=administrator
REMOTE_AUTH_STAFF_USERS=
REMOTE_AUTH_SUPERUSER_GROUPS=administrator
REMOTE_AUTH_SUPERUSERS=
EXEMPT_VIEW_PERMISSIONS=*
DB_HOST=netbox-postgres
DB_NAME=netbox
EMAIL_FROM=netbox@bar.com
EMAIL_PORT=25
EMAIL_SERVER=localhost
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=5
# EMAIL_USE_SSL and EMAIL_USE_TLS are mutually exclusive, i.e. they can't both be `true`!
EMAIL_USE_SSL=false
EMAIL_USE_TLS=false
GRAPHQL_ENABLED=true
HOUSEKEEPING_INTERVAL=86400
MAX_PAGE_SIZE=1000
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED=false
NAPALM_TIMEOUT=10
REDIS_CACHE_DATABASE=1
REDIS_CACHE_HOST=netbox-redis-cache
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_SSL=false
REDIS_DATABASE=0
REDIS_HOST=netbox-redis
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
SKIP_STARTUP_SCRIPTS=true
SKIP_SUPERUSER=false
SUPERUSER_EMAIL=admin@example.com
WEBHOOKS_ENABLED=true