# Parameters related to NetBox (and supporting tools). Note that other more specific parameters
#   can also be configured in the env_file files for netbox* services
# The name of the default "site" to be created upon NetBox initialization, and to be queried
#   for enrichment (see LOGSTASH_NETBOX_ENRICHMENT)
NETBOX_DEFAULT_SITE=Malcolm
# Whether to disable Malcolm's NetBox instance ('true') or not ('false')
NETBOX_DISABLED=true
NETBOX_POSTGRES_DISABLED=true
NETBOX_REDIS_DISABLED=true
NETBOX_REDIS_CACHE_DISABLED=true
NETBOX_CRON=true
