DB_PASSWORD=xxxxxxxxxxxxxxxx
DB_USER=netbox
EMAIL_PASSWORD=
EMAIL_USERNAME=netbox
NAPALM_PASSWORD=
NAPALM_USERNAME=
REDIS_CACHE_PASSWORD=xxxxxxxxxxxxxxxx
REDIS_PASSWORD=xxxxxxxxxxxxxxxx
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPERUSER_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPERUSER_NAME=admin
SUPERUSER_PASSWORD=admin

K8S_SECRET=True