# Whether or not nginx should use HTTPS. This is almost CERTAINLY what you want.
#   The only case you may want to set this to false is if you're using another
#   reverse proxy in front of Malcolm. Even if set to 'false', NGINX will still
#   listen on port 443 (it just won't be encrypted). If you change this, you'll
#   probably want to change "0.0.0.0:443:443" to something like
#   "127.0.0.1:80:443" in the ports section for the nginx-proxy service.
NGINX_SSL=true
# Whether or not to write nginx's access.log and error.log to OpenSearch
NGINX_LOG_ACCESS_AND_ERRORS=false
# NGINX resolver directive
#   https://nginx.org/en/docs/http/ngx_http_core_module.html#resolver
# Overrides the address for the NGINX resolver directive
NGINX_RESOLVER_OVERRIDE=
# Set to "true" to set the corresponding "off" parameter for NGINX resolver
NGINX_RESOLVER_IPV4_OFF=false
NGINX_RESOLVER_IPV6_OFF=false
# Not needed most of the time, but if you need to hard-code the scheme
#   (http vs. https) for Malcolm's NGINX instance to foward to
#   services (e.g., Keycloak), you can do so with this. I've only
#   found the need to do this if I'm running Malcolm with NGINX_SSL=false
#   behind another reverse proxy doing the TLS termination.
NGINX_X_FORWARDED_PROTO_OVERRIDE=
# Log level for NGINX's error log
NGINX_ERROR_LOG_LEVEL=