# Used in various services to define the connection to the OpenSearch document store.
# 'opensearch-local' indicates that Malcolm will maintain its own OpenSearch instance as its
#   primary data store. Set to 'opensearch-remote' or 'elasticsearch-remote' if you're
#   connecting to another cluster, in which case the other environment variables
#   in this section must also be set with the connection parameters.
OPENSEARCH_PRIMARY=opensearch-local
# URL for connecting to OpenSearch instance. When using Malcolm's internal instance
#   of OpenSearch (i.e., OPENSEARCH_PRIMARY is 'opensearch-local') this should be
#   'http://opensearch:9200', otherwise specify the primary remote instance URL
#   in the format 'protocol://host:port'.
OPENSEARCH_URL=http://opensearch:9200
# Used when OPENSEARCH_PRIMARY is 'opensearch-remote' or 'elasticsearch-remote',
#   the cURL-formatted config file contains login credentials for the primary
#   OpenSearch instance. It can be generated for you by the ./scripts/auth_setup script.
#   The notable parameters expected from this file would be user (with a "user:password"
#   value) and "insecure" (if the certificate verification setting below is 'false').
#   See cURL config file format at https://everything.curl.dev/cmdline/configfile.
#   This file is bind mounted locally from .opensearch.primary.curlrc as
#   /var/local/curlrc/.opensearch.primary.curlrc
OPENSEARCH_CREDS_CONFIG_FILE=/var/local/curlrc/.opensearch.primary.curlrc
# Whether or not connections to the primary remote OpenSearch instance require full
#  TLS certificate validation for the connection (this may fail if using self-signed
#  certificates).
OPENSEARCH_SSL_CERTIFICATE_VERIFICATION=false
# 'opensearch-remote' or 'elasticsearch-remote' indicate that Malcolm's Logstash instance
#   should forward logs to a secondary remote OpenSearch instance in addition to the
#   (local or remote) primary instance.
OPENSEARCH_SECONDARY=
# URL for connecting to the secondary remote OpenSearch instance, specified
#   in the format 'protocol://host:port'.
OPENSEARCH_SECONDARY_URL=
# Used when OPENSEARCH_SECONDARY is 'true', the cURL-formatted config file contains login
#   credentials for the secondary OpenSearch instance. The comments describing
#   OPENSEARCH_CREDS_CONFIG_FILE above also apply here. This file is bind mounted locally
#   from .opensearch.secondary.curlrc as /var/local/curlrc/.opensearch.secondary.curlrc
OPENSEARCH_SECONDARY_CREDS_CONFIG_FILE=/var/local/curlrc/.opensearch.secondary.curlrc
# Whether or not connections to the secondary remote OpenSearch instance require full
#  TLS certificate validation for the connection (this may fail if using self-signed
#  certificates).
OPENSEARCH_SECONDARY_SSL_CERTIFICATE_VERIFICATION=false
# OpenSearch memory allowance and other Java options
OPENSEARCH_JAVA_OPTS=-server -Xmx10g -Xms10g -Xss256k -XX:-HeapDumpOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -Dlog4j.formatMsgNoLookups=true

# OpenSearch index patterns and timestamp fields
# Index pattern for network traffic logs written via Logstash (e.g., Zeek logs, Suricata alerts)
MALCOLM_NETWORK_INDEX_PATTERN=arkime_sessions3-*
# Specifies the value under template.aliases in malcolm_template, or blank to not specify one
MALCOLM_NETWORK_INDEX_ALIAS=malcolm_network
# Specifies the value of template.settings.index.default_pipeline in malcolm_template, or blank to not specify one
MALCOLM_NETWORK_INDEX_DEFAULT_PIPELINE=
# Specifies the value of template.settings.index.lifecycle.name in malcolm_template, or blank to not specify one (Elasticsearch only)
MALCOLM_NETWORK_INDEX_LIFECYCLE_NAME=
# Specifies the value of template.settings.index.lifecycle.rollover_alias in malcolm_template, or blank to not specify one (Elasticsearch only)
MALCOLM_NETWORK_INDEX_LIFECYCLE_ROLLOVER_ALIAS=
# Default time field to use for network traffic logs in Logstash and Dashboards
MALCOLM_NETWORK_INDEX_TIME_FIELD=firstPacket
# Suffix used to create index to which network traffic logs are written
#   * supports Ruby strftime strings in %{}; e.g.,
#     - hourly: %{%y%m%dh%H}, twice daily: %{%P%y%m%d}, daily: %{%y%m%d}, weekly: %{%yw%U}, monthly: %{%ym%m})
#   * supports expanding dot-delimited field names in {{ }}; e.g.,
#     - {{event.provider}}%{%y%m%d}
MALCOLM_NETWORK_INDEX_SUFFIX=%{%y%m%d}
# Index pattern for other logs written via Logstash (e.g., nginx, beats, fluent-bit, etc.)
MALCOLM_OTHER_INDEX_PATTERN=malcolm_beats_*
# Specifies the value under template.aliases in malcolm_beats_template, or blank to not specify one
MALCOLM_OTHER_INDEX_ALIAS=malcolm_other
# Specifies the value of template.settings.index.default_pipeline in malcolm_beats_template, or blank to not specify one
MALCOLM_OTHER_INDEX_DEFAULT_PIPELINE=
# Specifies the value of template.settings.index.lifecycle.name in malcolm_beats_template, or blank to not specify one (Elasticsearch only)
MALCOLM_OTHER_INDEX_LIFECYCLE_NAME=
# Specifies the value of template.settings.index.lifecycle.rollover_alias in malcolm_beats_template, or blank to not specify one (Elasticsearch only)
MALCOLM_OTHER_INDEX_LIFECYCLE_ROLLOVER_ALIAS=
# Default time field to use for other logs in Logstash and Dashboards
MALCOLM_OTHER_INDEX_TIME_FIELD=@timestamp
# Suffix used to create index to which other logs are written (same rules as MALCOLM_NETWORK_INDEX_TIME_FIELD)
MALCOLM_OTHER_INDEX_SUFFIX=%{%y%m%d}
# Index pattern used specifically by Arkime (will probably match MALCOLM_NETWORK_INDEX_PATTERN, should probably be arkime_sessions3-*)
ARKIME_NETWORK_INDEX_PATTERN=arkime_sessions3-*
# Default time field used by for sessions in Arkime viewer
ARKIME_NETWORK_INDEX_TIME_FIELD=firstPacket

# Miscellaneous
logger.level=WARN
bootstrap.memory_lock=true
MAX_LOCKED_MEMORY=unlimited
discovery.type=single-node
cluster.routing.allocation.disk.threshold_enabled=false
cluster.routing.allocation.node_initial_primaries_recoveries=8
indices.query.bool.max_clause_count=8192
path.repo=/opt/opensearch/backup
