# Whether or not netsniff-ng should create PCAP files from live traffic on a local
#   interface for analysis by Arkime capture (should be 'false' if PCAP_ENABLE_TCPDUMP
#   is 'true')
PCAP_ENABLE_NETSNIFF=false
# Whether or not tcpdump should create PCAP files from live traffic on a local
#   interface for analysis by Arkime capture (should be 'false' if PCAP_ENABLE_NETSNIFF
#   is 'true')
PCAP_ENABLE_TCPDUMP=false
# Specifies local network interface(s) for local packet capture if PCAP_ENABLE_NETSNIFF,
#   PCAP_ENABLE_TCPDUMP, ZEEK_LIVE_CAPTURE or SURICATA_LIVE_CAPTURE are 'true
PCAP_IFACE=lo
# Whether or not ethtool will disable NIC hardware offloading features and adjust
#   ring buffer sizes for capture interface(s) (should be 'true' if the interface(s) are
#   being used for capture only, 'false' if they are being used for management/communication)
PCAP_IFACE_TWEAK=false
# Specifies how large a locally-captured PCAP file can become (in megabytes) before
#   it is closed for processing and a new PCAP file created
PCAP_ROTATE_MEGABYTES=4096
# Specifies a time interval (in minutes) after which a locally-captured PCAP file
#   will be closed for processing and a new PCAP file created
PCAP_ROTATE_MINUTES=10
# Specifies a tcpdump-style filter expression for local packet capture ('' to capture all traffic)
PCAP_FILTER=