# Set to true to disable file scanning with Strelka
PIPELINE_DISABLED=false
# Whether or not to regularly update rule definitions for file scanning engines
RULES_UPDATE_ENABLED=false
# Whether or not the default YARA ruleset will be ignored and only custom rules used
YARA_CUSTOM_RULES_ONLY=false
