# Set to true to disable file scanning with Strelka
PIPELINE_DISABLED=false

# The number of strelka backend processes to run
STRELKA_BACKEND_PROCS=1

# Which Strelka scanners (https://target.github.io/strelka/#/?id=scanner-list) to enable:
#   a comma-separated list which may contain scanner names and/or the string "default"
#   for the built-in list of scanners. Values may be combined (e.g., "default,ScanStrings").
STRELKA_SCANNERS=default

# Whether or not to regularly update rule definitions for file scanning engines
RULES_UPDATE_ENABLED=false

# Whether or not the default YARA ruleset will be ignored and only custom rules used
YARA_CUSTOM_RULES_ONLY=false

# values for tuning clamd (others are available, see strelka/docker-entrypoint.sh)
# Maximum number of concurrent clamd threads (MaxThreads)
CLAMD_MAX_THREADS=8
# Maximum number of queued items for clamd (MaxQueue)
CLAMD_MAX_QUEUE=200
# Maximum length the queue of pending connections may grow to for clamd (MaxConnectionQueueLength)
CLAMD_MAX_CONN_QUEUE=400
# Scan within archives and compressed files. With Strelka's archive scanners enabled,
# this should be "false" # to avoid duplicate processing.
CLAMD_SCAN_ARCHIVE=false