# Set to true to disable file scanning with Strelka
PIPELINE_DISABLED=false

# Whether or not to regularly update rule definitions for file scanning engines
RULES_UPDATE_ENABLED=false

# Whether or not the default YARA ruleset will be ignored and only custom rules used
YARA_CUSTOM_RULES_ONLY=false

# values for tuning clamd (others are available, see strelka/docker-entrypoint.sh)
# Maximum number of concurrent clamd threads (MaxThreads)
CLAMD_MAX_THREADS=8
# Maximum number of queued items for clamd (MaxQueue)
CLAMD_MAX_QUEUE=200
# Maximum length the queue of pending connections may grow to for clamd (MaxConnectionQueueLength)
CLAMD_MAX_CONN_QUEUE=400