POSTGRES_HOST=postgres
PGPORT=5432

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxxxxxxxxxxxxxxx

POSTGRES_NETBOX_DB=netbox
POSTGRES_NETBOX_USER=netbox
POSTGRES_NETBOX_PASSWORD=xxxxxxxxxxxxxxxx

POSTGRES_KEYCLOAK_DB=keycloak
POSTGRES_KEYCLOAK_USER=keycloak
POSTGRES_KEYCLOAK_PASSWORD=xxxxxxxxxxxxxxxx

POSTGRES_DISABLED=false
K8S_SECRET=True