# docker containers will run processes as unprivileged user with UID:GID
PUID=1000
PGID=1000
# for debugging container init via tini (https://github.com/krallin/tini)
TINI_VERBOSITY=1
# for handling configmap/secrets files/directories
CONFIG_MAP_DIR=configmap;secretmap