# pertaining to the `redis` service (--dir /data --appendonly yes)
REDIS_HOST=redis
REDIS_PORT=6379

REDIS_NETBOX_DATABASE=0
REDIS_ZEEK_FILES_DATABASE=1

# pertaining to the `redis-cache` service (--save '' --appendonly no --maxmemory-policy allkeys-lru)
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PORT=6379

REDIS_NETBOX_CACHE_DATABASE=0
REDIS_STRELKA_COORDINATOR_CACHE_DATABASE=1
REDIS_STRELKA_GATEKEEPER_CACHE_DATABASE=2
REDIS_FILESCAN_CACHE_DATABASE=3

# common to both services
REDIS_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXX
K8S_SECRET=True
