# When possible, docker containers will automatically add trusted CA certificate files
#   found in the ./nginx/ca-trust directory (which is bind mounted to /ca-trust).
PUSER_CA_TRUST=/var/local/ca-trust