# Whether or not Suricata should monitor live traffic on a local
#   interface (PCAP_IFACE variable below specifies capture interfaces)
SURICATA_LIVE_CAPTURE=false
# Specifies the Suricata runmode for live capture (see
#   https://suricata.readthedocs.io/en/latest/performance/runmodes.html)
SURICATA_RUNMODE=workers

SURICATA_PCAP_PROCESSOR=false