# Whether or not Suricata should monitor live traffic on a local
#   interface (PCAP_IFACE variable below specifies capture interfaces)
SURICATA_LIVE_CAPTURE=false
# Specifies the Suricata runmode for live capture (see
#   https://suricata.readthedocs.io/en/latest/performance/runmodes.html)
SURICATA_RUNMODE=workers
# Whether or not enable capture statistics and include them in eve.json
SURICATA_STATS_ENABLED=false
SURICATA_STATS_EVE_ENABLED=false
SURICATA_STATS_INTERVAL=30
SURICATA_STATS_DECODER_EVENTS=false

SURICATA_PCAP_PROCESSOR=false