# Whether or not the default Suricata ruleset will be ignored and only custom rules used
SURICATA_CUSTOM_RULES_ONLY=false
SURICATA_UPDATE_RULES=false
SURICATA_UPDATE_DEBUG=false
SURICATA_UPDATE_ETOPEN=true
# suricata_config_populate.py can use MANY more environment variables to tweak
#   suricata.yaml (see https://github.com/OISF/suricata/blob/master/suricata.yaml.in and
#   https://suricata.readthedocs.io/en/latest/configuration/suricata-yaml.html).
#   DEFAULT_VARS in that script defines those variables (albeit without the
#   required `SURICATA_` prefixing each).
# Note that for some variables (e.g., something with a sequence like HOME_NET)
#   Suricata wants values to be quoted. If not, you'll see an error like:
#     > Address var "HOME_NET" probably has a sequence (something in brackets)
#     > value set without any quotes. Please quote it using ".."."
#   To accomplish that in this .env file, use outer single quotes with
#   inner double quotes, like:
#     SURICATA_HOME_NET='"[192.168.0.0/16,10.0.0.0/8,172.16.0.0/12]"'
