# Whether or not Suricata should analyze uploaded PCAP files
SURICATA_AUTO_ANALYZE_PCAP_FILES=true
# The number of Suricata processes for analyzing uploaded PCAP files allowed
#   to run concurrently
SURICATA_AUTO_ANALYZE_PCAP_THREADS=1
# Whether or not Suricata should analyze captured PCAP files captured
#   by netsniff-ng/tcpdump (see PCAP_ENABLE_NETSNIFF and PCAP_ENABLE_TCPDUMP
#   below). If SURICATA_LIVE_CAPTURE is true, this should be false: otherwise
#   Suricata will see duplicate traffic.
SURICATA_ROTATED_PCAP=true

SURICATA_PCAP_PROCESSOR=true