# Whether or not to automatically apply tags based (on the PCAP filename) to network traffic metadata
#   parsed from uploaded PCAP files
AUTO_TAG=true
# The node name (e.g., the hostname of this machine running Malcolm) to associate with
#   network traffic metadata
PCAP_NODE_NAME=malcolm
# Verbosity flag for pcap pipeline debugging (e.g., -v, -vv, -vvv, etc.)
PCAP_PIPELINE_VERBOSITY=
# Whether or not PCAP files extant in ./pcap/ will be ignored on startup
PCAP_PIPELINE_IGNORE_PREEXISTING=false
# Whether or not to use polling vs. native inotify API to watch for files
PCAP_PIPELINE_POLLING=false
# When polling, seconds of inactivity to assume a file is closed and ready for processing
PCAP_PIPELINE_POLLING_ASSUME_CLOSED_SEC=10
# 'pcap-monitor' to match the name of the container providing the uploaded/captured PCAP file
#   monitoring service
PCAP_MONITOR_HOST=pcap-monitor
# The age (in minutes) at which already-processed log files containing network traffic metadata should
#   be pruned from the filesystem
LOG_CLEANUP_MINUTES=360
# The age (in minutes) at which the compressed archives containing already-processed log files should
#   be pruned from the filesystem
ZIP_CLEANUP_MINUTES=720