# pertaining to the `valkey` service
VALKEY_HOST=valkey
VALKEY_PORT=6379
VALKEY_MAXMEMORY=0
VALKEY_MAXMEMORY_POLICY=allkeys-lru
VALKEY_AUTO_AOF_REWRITE_MIN_SIZE=64mb

VALKEY_NETBOX_DATABASE=0
VALKEY_ZEEK_FILES_DATABASE=1

# pertaining to the `valkey-cache` service
VALKEY_CACHE_HOST=valkey-cache
VALKEY_CACHE_PORT=6379
VALKEY_CACHE_MAXMEMORY=0
VALKEY_CACHE_MAXMEMORY_POLICY=allkeys-lru

VALKEY_NETBOX_CACHE_DATABASE=0
VALKEY_STRELKA_COORDINATOR_CACHE_DATABASE=1
VALKEY_STRELKA_GATEKEEPER_CACHE_DATABASE=2
VALKEY_FILESCAN_CACHE_DATABASE=3

# common to both services
VALKEY_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXX
K8S_SECRET=True
