# Whether or not Zeek should monitor live traffic on a local
#   interface (PCAP_IFACE variable below specifies capture interfaces)
ZEEK_LIVE_CAPTURE=false
# Set ZEEK_DISABLE_STATS to false or blank to generate stats.log and capture_loss.log
ZEEK_DISABLE_STATS=true
# Set ZEEK_DISABLE_INTEL_LIVE to true to disable @load-ing zeek/intel for live capture
ZEEK_DISABLE_INTEL_LIVE=false
# Set to true to enable Zeek's ZAM script optimizer (-O ZAM)
# https://docs.zeek.org/en/master/advanced/scripting/optimization.html
ZEEK_ZAM=false

ZEEK_PCAP_PROCESSOR=false
ZEEK_LOG_PATH=/zeek/live
EXTRACT_FILES_PATH=/zeek/extract_files
