# Whether or not Zeek should monitor live traffic on a local
#   interface (PCAP_IFACE variable below specifies capture interfaces)
ZEEK_LIVE_CAPTURE=false
# Set ZEEK_DISABLE_STATS to false or blank to generate stats.log and capture_loss.log
ZEEK_DISABLE_STATS=true

ZEEK_PCAP_PROCESSOR=false
ZEEK_LOG_PATH=/zeek/live
EXTRACT_FILES_PATH=/zeek/extract_files