# A VirusTotal Public API v.20 used to submit hashes of Zeek-extracted files
VTOT_API2_KEY=0
# Specifies the AES-256-CBC decryption password for encrypted Zeek-extracted files served over HTTP
EXTRACTED_FILE_HTTP_SERVER_KEY=quarantined
K8S_SECRET=True