# Whether or not Zeek should analyze uploaded PCAP files
ZEEK_AUTO_ANALYZE_PCAP_FILES=true
# The number of Zeek processes for analyzing uploaded PCAP files allowed
#   to run concurrently
ZEEK_AUTO_ANALYZE_PCAP_THREADS=1
# Whether or not Zeek should analyze captured PCAP files captured
#   by netsniff-ng/tcpdump (see PCAP_ENABLE_NETSNIFF and PCAP_ENABLE_TCPDUMP
#   below). If ZEEK_LIVE_CAPTURE is true, this should be false: otherwise
#   Zeek will see duplicate traffic.
ZEEK_ROTATED_PCAP=true

ZEEK_PCAP_PROCESSOR=true
ZEEK_CRON=false