# Whether or not Zeek should monitor live traffic on a local
#   interface (PCAP_IFACE variable below specifies capture interfaces)
ZEEK_LIVE_CAPTURE=false

ZEEK_PCAP_PROCESSOR=false
ZEEK_CRON=true
ZEEK_LOG_PATH=/zeek/live
ZEEK_INTEL_PATH=/opt/zeek/share/zeek/site/intel
EXTRACT_FILES_PATH=/zeek/extract_files