---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pcap-volume
  namespace: malcolm
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 500Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-FILESYSTEMID::fsap-pcap

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pcap-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 500Gi
  volumeName: pcap-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: zeek-volume
  namespace: malcolm
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 250Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-FILESYSTEMID::fsap-zeek-logs

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zeek-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 250Gi
  volumeName: zeek-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: suricata-volume
  namespace: malcolm
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 100Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-FILESYSTEMID::fsap-suricata-logs

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: suricata-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 100Gi
  volumeName: suricata-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: config-volume
  namespace: malcolm
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 25Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-FILESYSTEMID::fsap-config

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 25Gi
  volumeName: config-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: runtime-logs-volume
  namespace: malcolm
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 25Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-FILESYSTEMID::fsap-runtime-logs

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: runtime-logs-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 25Gi
  volumeName: runtime-logs-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: opensearch-volume
  namespace: malcolm
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 500Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-FILESYSTEMID::fsap-opensearch

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 500Gi
  volumeName: opensearch-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: opensearch-backup-volume
  namespace: malcolm
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 500Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-FILESYSTEMID::fsap-opensearch-backup

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-backup-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 500Gi
  volumeName: opensearch-backup-volume