---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pcap-volume
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 100Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS_ID}::${EFS_ACCESS_POINT_PCAP_ID}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pcap-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 100Gi
  volumeName: pcap-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: zeek-volume
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 50Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS_ID}::${EFS_ACCESS_POINT_ZEEK_LOGS_ID}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zeek-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 50Gi
  volumeName: zeek-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: suricata-volume
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 25Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS_ID}::${EFS_ACCESS_POINT_SURICATA_LOGS_ID}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: suricata-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 25Gi
  volumeName: suricata-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: config-volume
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS_ID}::${EFS_ACCESS_POINT_CONFIG_ID}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Gi
  volumeName: config-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: runtime-logs-volume
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS_ID}::${EFS_ACCESS_POINT_RUNTIME_LOGS_ID}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: runtime-logs-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Gi
  volumeName: runtime-logs-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: opensearch-volume
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 150Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS_ID}::${EFS_ACCESS_POINT_OPENSEARCH_ID}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 150Gi
  volumeName: opensearch-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: opensearch-backup-volume
  labels:
    namespace: malcolm
spec:
  capacity:
    storage: 150Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS_ID}::${EFS_ACCESS_POINT_OPENSEARCH_BACKUP_ID}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-backup-claim
  namespace: malcolm
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 150Gi
  volumeName: opensearch-backup-volume