---
apiVersion: v1
kind: Service
metadata:
  name: pcap-monitor
  namespace: malcolm
spec:
  type: ClusterIP
  ports:
    - port: 30441
      protocol: TCP
      name: zmq
  selector:
    app: pcap-monitor

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pcap-monitor-deployment
  namespace: malcolm
  labels:
    app: pcap-monitor
    role: service
spec:
  selector:
    matchLabels:
      app: pcap-monitor
  replicas: 1
  template:
    metadata:
      labels:
        app: pcap-monitor
        role: service
    spec:
      containers:
      - name: pcap-monitor-container
        image: ghcr.io/idaholab/malcolm/pcap-monitor:25.12.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        ports:
          - name: zmq
            protocol: TCP
            containerPort: 30441
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: opensearch-env
          - configMapRef:
              name: upload-common-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 90
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: pcap-monitor-var-local-catrust-volume
          - mountPath: /var/local/curlrc/secretmap
            name: pcap-monitor-opensearch-curlrc-secret-volume
          - mountPath: "/pcap"
            name: pcap-monitor-pcap-volume
          - mountPath: "/zeek"
            name: pcap-monitor-zeek-volume
      initContainers:
      - name: pcap-monitor-dirinit-container
        image: ghcr.io/idaholab/malcolm/dirinit:25.12.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        resources:
          requests:
            cpu: "0.25"
            memory: "128Mi"
          limits:
            cpu: "0.5"
            memory: "256Mi"
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/pcap:processed,upload"
        volumeMounts:
          - name: pcap-monitor-pcap-volume
            mountPath: "/data/pcap"
      volumes:
        - name: pcap-monitor-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: pcap-monitor-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: pcap-monitor-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: pcap-monitor-zeek-volume
          persistentVolumeClaim:
            claimName: zeek-claim