---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zeek-offline-deployment
  namespace: malcolm
spec:
  selector:
    matchLabels:
      name: zeek-offline-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: zeek-offline-deployment
    spec:
      containers:
      - name: zeek-offline-container
        image: ghcr.io/idaholab/malcolm/zeek:23.07.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - NET_ADMIN
              - NET_RAW
              - SYS_ADMIN
              - SYS_RESOURCE
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: upload-common-env
          - configMapRef:
              name: zeek-env
          - secretRef:
              name: zeek-secret-env
          - configMapRef:
              name: zeek-offline-env
        livenessProbe:
          exec:
            command:
            - supervisorctl
            - status
            - pcap-zeek
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: zeek-offline-var-local-catrust-volume
          - mountPath: "/pcap"
            name: zeek-offline-pcap-volume
          - mountPath: "/zeek/extract_files"
            name: zeek-offline-zeek-volume
            subPath: "extract_files"
          - mountPath: "/zeek/upload"
            name: zeek-offline-zeek-volume
            subPath: "upload"
          - mountPath: "/opt/zeek/share/zeek/site/intel"
            name: zeek-offline-zeek-intel
            subPath: "zeek/intel"
      initContainers:
      - name: zeek-offline-dirinit-container
        image: ghcr.io/idaholab/malcolm/dirinit:23.07.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/config:zeek/intel/MISP,zeek/intel/STIX;/data/pcap:processed;/data/zeek-logs:current,extract_files/preserved,extract_files/quarantine,live,processed,upload"
        volumeMounts:
          - name: zeek-offline-zeek-intel
            mountPath: "/data/config"
          - name: zeek-offline-pcap-volume
            mountPath: "/data/pcap"
          - name: zeek-offline-zeek-volume
            mountPath: "/data/zeek-logs"
      volumes:
        - name: zeek-offline-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: zeek-offline-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: zeek-offline-zeek-volume
          persistentVolumeClaim:
            claimName: zeek-claim
        - name: zeek-offline-zeek-intel
          persistentVolumeClaim:
            claimName: config-claim
