---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: suricata-offline-deployment
  namespace: malcolm
  labels:
    app: suricata-offline
    role: ingest
spec:
  selector:
    matchLabels:
      app: suricata-offline
  replicas: 1
  template:
    metadata:
      labels:
        app: suricata-offline
        role: ingest
    spec:
      containers:
      - name: suricata-offline-container
        image: ghcr.io/idaholab/malcolm/suricata:25.12.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: upload-common-env
          - configMapRef:
              name: suricata-env
          - configMapRef:
              name: suricata-offline-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 120
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: suricata-offline-var-local-catrust-volume
          - mountPath: "/data/pcap"
            name: suricata-offline-pcap-volume
          - mountPath: "/var/log/suricata"
            name: suricata-offline-suricata-logs-volume
          - mountPath: "/opt/suricata/rules/configmap"
            name: suricata-offline-custom-rules-volume
          - mountPath: "/opt/suricata/include-configs/configmap"
            name: suricata-offline-custom-configs-volume
      initContainers:
      - name: suricata-offline-dirinit-container
        image: ghcr.io/idaholab/malcolm/dirinit:25.12.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        resources:
          requests:
            cpu: "0.25"
            memory: "128Mi"
          limits:
            cpu: "0.5"
            memory: "256Mi"
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/pcap:processed"
        volumeMounts:
          - name: suricata-offline-pcap-volume
            mountPath: "/data/pcap"
      volumes:
        - name: suricata-offline-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: suricata-offline-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: suricata-offline-suricata-logs-volume
          persistentVolumeClaim:
            claimName: suricata-claim
        - name: suricata-offline-custom-rules-volume
          configMap:
            name: suricata-rules
        - name: suricata-offline-custom-configs-volume
          configMap:
            name: suricata-configs