---
apiVersion: v1
kind: Service
metadata:
  name: redis-cache
  namespace: malcolm
spec:
  type: ClusterIP
  ports:
    - port: 6379
      protocol: TCP
      name: redis
  selector:
    app: redis-cache

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cache-deployment
  namespace: malcolm
  labels:
    app: redis-cache
    role: database
spec:
  selector:
    matchLabels:
      app: redis-cache
  replicas: 1
  template:
    metadata:
      labels:
        app: redis-cache
        role: database
    spec:
      containers:
      - name: redis-cache-container
        image: ghcr.io/idaholab/malcolm/redis:25.12.0
        imagePullPolicy: Always
        stdin: false
        tty: true
        command: ["/sbin/tini"]
        args: ["--",
               "/usr/local/bin/docker-uid-gid-setup.sh",
               "/usr/local/bin/service_check_passthrough.sh",
               "-s",
               "redis-cache",
               "sh",
               "-c",
               "redis-server --requirepass $(REDIS_PASSWORD)"]
        ports:
          - name: redis
            protocol: TCP
            containerPort: 6379
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - secretRef:
              name: redis-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 45
          periodSeconds: 60
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: redis-cache-var-local-catrust-volume
      volumes:
        - name: redis-cache-var-local-catrust-volume
          configMap:
            name: var-local-catrust
