---
apiVersion: v1
kind: Service
metadata:
  name: netbox
  namespace: malcolm
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      name: http-main
    - port: 8081
      protocol: TCP
      name: http-status
    - port: 9001
      protocol: TCP
      name: supervisord
  selector:
    app: netbox

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: netbox-deployment
  namespace: malcolm
  labels:
    app: netbox
    role: service
spec:
  selector:
    matchLabels:
      app: netbox
  replicas: 1
  template:
    metadata:
      labels:
        app: netbox
        role: service
    spec:
      containers:
      - name: netbox-container
        image: ghcr.io/idaholab/malcolm/netbox:25.12.0
        imagePullPolicy: Always
        stdin: false
        tty: true
        ports:
          - name: http-main
            protocol: TCP
            containerPort: 8080
          - name: http-status
            protocol: TCP
            containerPort: 8081
          - name: supervisord
            protocol: TCP
            containerPort: 9001
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: auth-common-env
          - configMapRef:
              name: netbox-common-env
          - configMapRef:
              name: netbox-env
          - secretRef:
              name: netbox-secret-env
          - secretRef:
              name: postgres-env
          - secretRef:
              name: redis-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 600
          periodSeconds: 60
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: netbox-var-local-catrust-volume
          - mountPath: /etc/netbox/config/configmap
            name: netbox-config-volume
          - mountPath: /opt/netbox-custom-plugins
            name: netbox-custom-plugins-volume
          - mountPath: /opt/netbox-preload/configmap
            name: netbox-preload-volume
          - mountPath: /opt/netbox/netbox/media
            name: netbox-media-volume
            subPath: netbox/media
      initContainers:
      - name: netbox-dirinit-container
        image: ghcr.io/idaholab/malcolm/dirinit:25.12.0
        imagePullPolicy: Always
        stdin: false
        tty: true
        resources:
          requests:
            cpu: "0.25"
            memory: "128Mi"
          limits:
            cpu: "0.5"
            memory: "256Mi"
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/config:netbox/media"
        volumeMounts:
          - name: netbox-media-volume
            mountPath: "/data/config"
      volumes:
        - name: netbox-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: netbox-config-volume
          configMap:
            name: netbox-config
        - name: netbox-custom-plugins-volume
          configMap:
            name: netbox-custom-plugins
        - name: netbox-preload-volume
          configMap:
            name: netbox-preload
        - name: netbox-media-volume
          persistentVolumeClaim:
            claimName: config-claim

