---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: arkime-live-deployment
  namespace: malcolm
  labels:
    app: arkime-live
    role: capture
spec:
  selector:
    matchLabels:
      app: arkime-live
  replicas: 1
  template:
    metadata:
      labels:
        app: arkime-live
        role: capture
    spec:
      containers:
      - name: arkime-live-container
        image: ghcr.io/idaholab/malcolm/arkime:25.12.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        securityContext:
          capabilities:
            add:
              # IPC_LOCK - to lock memory, preventing swapping
              - IPC_LOCK
              # SYS_RESOURCE - for increasing memlock limits
              - SYS_RESOURCE
              # NET_ADMIN and NET_RAW - to turn on promiscuous mode and capture raw packets
              - NET_ADMIN
              - NET_RAW
              # SYS_NICE - to set process nice values, real-time scheduling policies, I/O scheduling
              - SYS_NICE
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: opensearch-env
          - configMapRef:
              name: upload-common-env
          - configMapRef:
              name: pcap-capture-env
          - configMapRef:
              name: arkime-env
          - configMapRef:
              name: arkime-live-env
          - secretRef:
              name: arkime-secret-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 210
          periodSeconds: 90
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: arkime-live-var-local-catrust-volume
          - mountPath: /var/local/curlrc/secretmap
            name: arkime-live-opensearch-curlrc-secret-volume
          - mountPath: "/opt/arkime/lua/configmap"
            name: arkime-live-lua-volume
          - mountPath: "/opt/arkime/rules/configmap"
            name: arkime-live-rules-volume
          - mountPath: "/data/pcap"
            name: arkime-live-pcap-volume
          - mountPath: "/opt/arkime/wiseini"
            name: arkime-live-config-volume
            subPath: "arkime/wiseini"
            readOnly: true
      initContainers:
      - name: arkime-live-dirinit-container
        image: ghcr.io/idaholab/malcolm/dirinit:25.12.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        resources:
          requests:
            cpu: "0.25"
            memory: "128Mi"
          limits:
            cpu: "0.5"
            memory: "256Mi"
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/pcap:arkime-live"
        volumeMounts:
          - name: arkime-live-pcap-volume
            mountPath: "/data/pcap"
      volumes:
        - name: arkime-live-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: arkime-live-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: arkime-live-lua-volume
          configMap:
            name: arkime-lua
        - name: arkime-live-rules-volume
          configMap:
            name: arkime-rules
        - name: arkime-live-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: arkime-live-config-volume
          persistentVolumeClaim:
            claimName: config-claim
