---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: malcolm
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      name: http
  selector:
    app: keycloak

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak-deployment
  namespace: malcolm
  labels:
    app: keycloak
    role: auth
spec:
  selector:
    matchLabels:
      app: keycloak
  replicas: 1
  template:
    metadata:
      labels:
        app: keycloak
        role: auth
    spec:
      containers:
      - name: keycloak-container
        image: ghcr.io/idaholab/malcolm/keycloak:25.12.1
        imagePullPolicy: Always
        stdin: false
        tty: true
        command: ["/usr/bin/tini"]
        args: ["--",
               "/usr/local/bin/docker-uid-gid-setup.sh",
               "/usr/local/bin/service_check_passthrough.sh",
               "-s",
               "keycloak",
               "/usr/local/bin/docker-entrypoint.sh",
               "/opt/keycloak/bin/kc.sh",
               "start"]
        ports:
          - name: http
            protocol: TCP
            containerPort: 8080
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: auth-common-env
          - secretRef:
              name: postgres-env
          - secretRef:
              name: keycloak-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 45
          periodSeconds: 60
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: keycloak-var-local-catrust-volume
      volumes:
        - name: keycloak-var-local-catrust-volume
          configMap:
            name: var-local-catrust
