[Desktop Entry]
Name=Restart Malcolm
Exec=xfce4-terminal --command=/bin/bash\ -l\ -c\ "/usr/bin/python3\ ~/Malcolm/scripts/control.py\ --restart"
Comment=Restart Malcolm
Terminal=false
Type=Application
Icon=redo.png
Categories=Network;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/malcolm-restart.desktop