anyio==4.10.0
asyncclick==8.2.2.2
dominate==2.9.1
Flask==3.1.2
git+https://github.com/mmguero-dev/python-humanfriendly.git
grpcio-tools==1.74.0
grpcio==1.74.0
gunicorn==23.0.0
human-id==0.2.0
inflection==0.5.1
psutil==7.1.3
pycryptodome==3.23.0
pydantic==2.11.7
python-magic==0.4.27
redis==6.4.0
ruamel.yaml==0.18.14
setuptools==80.9.0
stream-zip==0.0.83
supervisor==4.3.0
watchdog==6.0.0
Cython
./python-statfs
