[Desktop Entry]
Version=1.0
Name=Restart Sensor Services
Exec=/usr/bin/tilix -t "Restart Sensor Services" -e bash -c "echo 'Stopping services...' ; ( /opt/sensor/sensor_ctl/shutdown >/dev/null 2>&1 || true ) ; echo 'Please wait...' ; sleep 30 ; echo 'Starting services...' ; /opt/sensor/sensor_ctl/supervisor.sh"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=xfsm-reboot
Categories=Network;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/sensor-services-full-restart.desktop
