[Desktop Entry]
Version=1.0
Name=Sensor Kiosk
Exec=/usr/local/bin/hedgehog-kiosk.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/images/hedgehog/hedgehog-color-small.png
Categories=Network;
StartupWMClass=Firefox
StartupNotify=true
