{
  "instance_type": "t2.micro",
  "instance_arch": "x86_64",
  "malcolm_tag": "v25.12.1",
  "malcolm_repo": "idaholab/Malcolm",
  "malcolm_uid": "1000",
  "ssh_username": "ec2-user",
  "vpc_region": "us-east-1",
  "vpc_tag_name_filter": "",
  "vpc_subnet_tag_name_filter": "",
  "vpc_security_group_tag_name_filter": ""
}
