[program:netsniff-$IFACE]
command=/usr/sbin/netsniff-ng -i "$IFACE" -T "%(ENV_PCAP_NETSNIFF_MAGIC)s" -o "%(ENV_PCAP_PATH)s" -P "mnetsniff-$IFACE_" -F "%(ENV_PCAP_ROTATE_MEGABYTES)sMiB" --silent "%(ENV_PCAP_FILTER)s"
user=%(ENV_PUSER)s
startsecs=5
startretries=3
stopasgroup=true
killasgroup=true
autostart=%(ENV_PCAP_ENABLE_NETSNIFF)s
directory=%(ENV_PCAP_PATH)s
