[Desktop Entry]
Version=1.0
Name=Configure Interfaces and Hostname
Exec=/usr/bin/tilix --maximize -t "Configure Interfaces and Hostname" -e su -l -c /usr/local/bin/configure-interfaces.py
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=network-wired
Categories=Network;
StartupNotify=true
