[Desktop Entry]
Version=1.0
Name=Sensor Kiosk
Exec=/usr/bin/chromium chromium --kiosk --app=http://127.0.0.1:5000 --password-store=basic --disable-seccomp-filter-sandbox --incognito --bwsi --disable-breakpad --disable-cloud-import --disable-speech-api --disable-sync --disable-voice-input --no-wifi --no-pings --disable-offline-auto-reload --disable-preconnect --disable-local-storage --media-cache-dir=/dev/null --disk-cache-dir=/dev/null --disk-cache-size=1
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/images/hedgehog/hedgehog-color-small.png
Categories=Network;
StartupWMClass=chromium
StartupNotify=true
