# build artifacts
*.iso
*-build.log
.vagrant
/config/packages.chroot/*.deb
/moloch/*.deb

# we're storing PNGs, generating JPGs at build time but we don't need to keep them
/docs/images/*.jpg
/HedgehogLinux.html
/HedgehogLinux.jpg.md
