<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://use.fontawesome.com/285a5794ed.js"></script>
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
        <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% else %}
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><i class="fa fa-fighter-jet" aria-hidden="true"></i> <a href="{{ site.quickstart_docs_uri | default: docs | relative_url }}">Quick Start</a></p>

        <p class="view"><i class="fa fa-book" aria-hidden="true"></i> <a href="{{ site.docs_uri | default: docs | relative_url }}">Documentation</a></p>

        <p class="view"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> <a href="{{ site.components_docs_uri | default: docs | relative_url }}">Components</a></p>

        <p class="view"><i class="fa fa-map-signs" aria-hidden="true"></i> <a href="{{ site.protocols_docs_uri | default: docs | relative_url }}">Supported Protocols</a></p>

        <p class="view"><i class="fa fa-sliders" aria-hidden="true"></i> <a href="{{ site.configuring_docs_uri | default: docs | relative_url }}">Configuring</a></p>

        <p class="view"><i class="fa fa-table" aria-hidden="true"></i> <a href="{{ site.arkime_docs_uri | default: docs | relative_url }}">Arkime</a></p>

        <p class="view"><i class="fa fa-tachometer" aria-hidden="true"></i> <a href="{{ site.dashboards_docs_uri | default: docs | relative_url }}">Dashboards</a></p>

        <p class="view"><i class="fa fa-server" aria-hidden="true"></i> <a href="{{ site.hedgehog_docs_uri | default: docs | relative_url }}">Hedgehog Linux</a></p>

        <p class="view"><i class="fa fa-handshake-o" aria-hidden="true"></i> <a href="{{ site.contributing_docs_uri | default: docs | relative_url }}">Contribution Guide</a></p>

        <!--
        <p class="view"><i class="fa fa-plug" aria-hidden="true"></i> <a href="{{ site.api_docs_uri | default: docs | relative_url }}">API</a></p>

        <p class="view"><i class="fa fa-shield" aria-hidden="true"></i> <a href="{{ site.hardening_docs_uri | default: docs | relative_url }}">Hardening</a></p>

        <p class="view"><i class="fa fa-upload" aria-hidden="true"></i> <a href="{{ site.upload_docs_uri | default: docs | relative_url }}">PCAP Upload</a></p>

        <p class="view"><i class="fa fa-eye" aria-hidden="true"></i> <a href="{{ site.live_analysis_docs_uri | default: docs | relative_url }}">Live Traffic Analysis</a></p>

        <p class="view"><i class="fa fa fa-share-alt" aria-hidden="true"></i> <a href="{{ site.thirdparty_logs_docs_uri | default: docs | relative_url }}">Third Party Logs</a></p>

        <p class="view"><i class="fa fa-search" aria-hidden="true"></i> <a href="{{ site.queries_docs_uri | default: docs | relative_url }}">Queries</a></p>

        <p class="view"><i class="fa fa-bell" aria-hidden="true"></i> <a href="{{ site.alerting_docs_uri | default: docs | relative_url }}">Alerting</a></p>

        <p class="view"><i class="fa fa-area-chart" aria-hidden="true"></i> <a href="{{ site.anomaly_detection_docs_uri | default: docs | relative_url }}">Anomaly Detection</a></p>

        <p class="view"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <a href="{{ site.severity_docs_uri | default: docs | relative_url }}">Severity Scoring</a></p>
        -->

      </header>
      <section>
      {{ content }}

      </section>
      <footer>
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.repository_url }}/releases">GitHub <strong>Releases</strong></a></li>
          <li><a href="{{ site.github.repository_url }}/tarball/{{ site.github.default_branch }}">Source <strong>.tgz</strong></a></li>
          <li><a href="{{ site.external_download_url | default: site.github.repository_url }}">Download <strong>ISOs</strong></a></li>
        </ul>
        {% endif %}

        {% if site.github.is_project_page %}
        <p class="view"><i class="fa fa-github" aria-hidden="true"></i> <a href="{{ site.github.repository_url }}">{{ site.title | default: site.github.repository_name }} on GitHub <i class="fa fa-sign-out" aria-hidden="true"></i><small>{{ site.github.repository_nwo }}</small></a></p>
        <!--
        <p class="view"><i class="fa fa-bug" aria-hidden="true"></i> <a href="{{ site.github.repository_url }}/issues">{{ site.title | default: site.github.repository_name }} Issue Tracker <i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
        -->
        {% endif %}

        <p class="view"><i class="fa fa-youtube-play" aria-hidden="true"></i> <a href="{{ site.youtube_url | default: youtube.com | absolute_url }}">{{ site.title | default: site.github.repository_name }} on YouTube <i class="fa fa-sign-out" aria-hidden="true"></i></a></p>

        <!--
        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile <i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
        {% endif %}

        {% if site.github.is_project_page %}
        <p class="view"><i class="fa fa-github" aria-hidden="true"></i> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }} on GitHub <i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
        {% endif %}
        -->

        {% if site.mastodon.id %}
        <p class="view"><i class="fa fa-share-alt" aria-hidden="true"></i> <a rel="me" href="{{ site.mastodon.url }}">@{{ site.mastodon.id }} <i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
