[program:tcpdump-$IFACE]
command=/usr/bin/tcpdump -i "$IFACE" -s %(ENV_PCAP_SNAPLEN)s -w "tcpdump-$IFACE_%(ENV_PCAP_TCPDUMP_FILENAME_PATTERN)s" -G %(ENV_PCAP_ROTATE_SECONDS)s -C %(ENV_PCAP_ROTATE_MEGABYTES)s -K -n "%(ENV_CAPTURE_FILTER)s"
startsecs=5
startretries=3
stopasgroup=true
killasgroup=true
autostart=%(ENV_AUTOSTART_TCPDUMP)s
directory=%(ENV_PCAP_PATH)s
user=sensor
