name: arkime-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'arkime/**'
      - 'Dockerfiles/arkime.Dockerfile'
      - 'container-health-scripts/arkime.sh'
      - 'scripts/malcolm_constants.py'
      - 'scripts/malcolm_utils.py'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - 'shared/bin/maxmind-mmdb-download.sh'
      - 'shared/bin/nic-capture-setup.sh'
      - 'shared/bin/opensearch_status.sh'
      - 'shared/bin/pcap_processor.py'
      - 'shared/bin/pcap_utils.py'
      - 'shared/bin/self_signed_key_gen.sh'
      - 'shared/bin/watch_common.py'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: arkime
      dockerfile: ./Dockerfiles/arkime.Dockerfile
    secrets:
      maxmind_license_key: ${{ secrets.MAXMIND_GEOIP_DB_LICENSE_KEY }}
      maxmind_alternate_url: ${{ secrets.MAXMIND_GEOIP_DB_ALTERNATE_DOWNLOAD_URL }}
