name: filebeat-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'filebeat/**'
      - 'Dockerfiles/filebeat.Dockerfile'
      - 'container-health-scripts/filebeat.sh'
      - 'scripts/malcolm_constants.py'
      - 'scripts/malcolm_utils.py'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/opensearch_status.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - 'shared/bin/watch_common.py'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: filebeat-oss
      dockerfile: ./Dockerfiles/filebeat.Dockerfile
