name: file-upload-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'file-upload/**'
      - 'Dockerfiles/file-upload.Dockerfile'
      - 'container-health-scripts/upload.sh'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: file-upload
      dockerfile: ./Dockerfiles/file-upload.Dockerfile
