name: file-monitor-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'file-monitor/**'
      - 'Dockerfiles/file-monitor.Dockerfile'
      - 'container-health-scripts/file-monitor.sh'
      - 'scripts/malcolm_constants.py'
      - 'scripts/malcolm_utils.py'
      - 'shared/bin/capa-build.sh'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/extracted_files_http_server.py'
      - 'shared/bin/prune_files.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - 'shared/bin/watch_common.py'
      - 'shared/bin/web-ui-asset-download.sh'
      - 'shared/bin/yara_rules_setup.sh'
      - 'shared/bin/zeek_carve*.py'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: file-monitor
      dockerfile: ./Dockerfiles/file-monitor.Dockerfile
