name: hedgehog-iso-build-docker-wrap-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'malcolm-iso/**'
      - 'shared/bin/*'
      - '!shared/bin/capa-build.sh'
      - '!shared/bin/extracted_files_http_server.py'
      - '!shared/bin/pcap_processor.py'
      - '!shared/bin/web-ui-asset-download.sh'
      - '!shared/bin/zeek*'
      - '!shared/bin/suricata*'
      - '.trigger_iso_workflow_build'
      - '.github/workflows/iso-build-push.yml'
      - '.github/workflows/hedgehog-iso-build-docker-wrap-push-ghcr.yml'
  workflow_dispatch:
  repository_dispatch:

jobs:
  build:
    uses: ./.github/workflows/iso-build-push.yml
    with:
      profile: hedgehog
