name: hedgehog-iso-build-docker-wrap-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'malcolm-iso/**'
      - 'shared/bin/*'
      - '.trigger_iso_workflow_build'
      - '.github/workflows/iso-build-push.yml'
      - '.github/workflows/hedgehog-iso-build-docker-wrap-push-ghcr.yml'
  workflow_dispatch:
  repository_dispatch:

jobs:
  build:
    uses: ./.github/workflows/iso-build-push.yml
    with:
      profile: hedgehog
