name: htadmin-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'htadmin/**'
      - 'Dockerfiles/htadmin.Dockerfile'
      - 'container-health-scripts/htadmin.sh'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: htadmin
      dockerfile: ./Dockerfiles/htadmin.Dockerfile
