name: keycloak-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'keycloak/**'
      - 'Dockerfiles/keycloak.Dockerfile'
      - 'container-health-scripts/keycloak.sh'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: keycloak
      dockerfile: ./Dockerfiles/keycloak.Dockerfile
