name: netbox-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
      - pipeline-merge
    paths:
      - 'netbox/**'
      - 'Dockerfiles/netbox.Dockerfile'
      - 'container-health-scripts/netbox.sh'
      - 'scripts/malcolm_constants.py'
      - 'scripts/malcolm_utils.py'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: netbox
      dockerfile: ./Dockerfiles/netbox.Dockerfile
