name: strelka-backend-build-and-push-ghcr

on:
  push:
    branches:
      - main
      - staging
    paths:
      - 'Dockerfiles/strelka-backend.Dockerfile'
      - 'container-health-scripts/strelka-backend.sh'
      - 'shared/bin/docker-uid-gid-setup.sh'
      - 'shared/bin/service_check_passthrough.sh'
      - '.trigger_workflow_build'
  workflow_dispatch:
  repository_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker-build-push-scan.yml
    with:
      service: strelka-backend
      dockerfile: ./Dockerfiles/strelka-backend.Dockerfile
