[Desktop Entry]
Version=1.0
Name=System Quickstart
Exec=/usr/bin/tilix --maximize -t "System Quickstart" -e su -l -c /usr/local/bin/system-quickstart.py
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=network-wired
Categories=Network;
StartupNotify=true
